build/
bin/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json
Makefile
cmake_install.cmake
compile_commands.json
.ninja_deps
.ninja_log
*.geode
*.dll
*.pdb
*.lib
*.exp
*.ilk
*.obj
*.o
.vs/
.idea/
*.user
*.suo
*.sln.docstates
*.vcxproj.user
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
desktop.ini
CMakeSettings.json